* {
  margin: 0;
}
header {
  display: inline-flexbox;
  position: sticky;
  background-color: blue;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0px;
  padding: 5px;
}
#logotyp p {
  display: inline;
  font-size: 15px;
  border: 1px solid black;

  padding: 3px 5px;
}
.navbar-buttons a {
  text-decoration: none;
}
.Buttons {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.Buttons:hover {
  background-color: #0056b3;
}
