* {
  margin: 0;
}
header {
  display: flex;
  position: sticky;
  background-color: #99ccff;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0px;
  padding: 5px;
}

.logotyp {
  font-family: "Pacifico", cursive;
  font-size: 36px;
  color: rgba(5, 5, 107, 0.742);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.navbar-buttons a {
  text-decoration: none;
}
.Buttons {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.Buttons:hover {
  background-color: #0056b3;
}
