* {
  margin: 0;
}
body {
  position: absolute;
  width: 100%;
}
header {
  position: fixed;
  background-color: #99ccff;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0px;
  padding: 5px;
  width: 100%;
}
.navbar {
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  right: 0px;
  margin: 15px;
  top: 10px;
}
#navbar a {
  text-decoration: none;
}
#navbar-toggle {
  display: none;
}
.logotyp {
  font-family: "Pacifico", cursive;
  font-size: 24px;
  color: rgba(5, 5, 107, 0.742);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  margin: 10px;
}

.Buttons,
#navbar-toggle {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.Buttons:hover,
#nabar-toggle:hover {
  background-color: #0056b3;
}
main {
  background-color: #e0e0e0;
  width: 100%;
  margin-top: 100px;
}
.huvudinnehål {
  background-color: #fff;
  width: 90%;
  margin-left: 3%;
  padding: 15px;
  border-radius: 15px;
  border: solid #808080;
  font-size: 16px;
}

footer {
  background-color: #99ccff;
  color: rgba(5, 5, 107, 0.742);
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  margin: 0px;
  padding: 5px;
}
#book-container {
  display: flex;
  overflow-x: auto;
}

#scroll-buttons {
  display: none;
  justify-content: center;
  margin-top: 10px;
}

#scroll-buttons button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #666;
  padding: 5px 10px;
  margin: 0 5px;
}

#book-container.scrollable {
  overflow-x: hidden;
}

#scroll-buttons.scrollable {
  display: flex;
}
.book img {
  max-width: 300px;
  height: 200px;
  margin-bottom: 10px;
  margin-right: 20px;
}
.book img:hover {
  max-width: 500px;
  height: 300px;
}
