* {
  margin: 0;
}
body {
  position: absolute;
  width: 100%;
}
header {
  position: fixed;
  background-color: #99ccff;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0px;
  padding: 5px;
  width: 100%;
  max-height: 15vh;
  z-index: 1;
  flex-direction: column;
  align-items: center;
}

header img {
  width: 15vh;
}
nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  position: fixed;
  right: 0px;
  margin: 15px;
  top: 10px;
}
#navbar a {
  text-decoration: none;
}
#navbar-toggle {
  display: none;
  position: fixed;
  top: 25px;
}

.logotyp {
  font-family: "Pacifico", cursive;
  font-size: 24px;
  color: rgba(5, 5, 107, 0.742);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  margin: 10px;
}

.Buttons,
#navbar-toggle {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 120px;
  margin: 1px;
}
.Buttons:hover,
#navbar-toggle:hover {
  background-color: #0056b3;
}
main {
  /* background-color: #e0e0e0; */
  background-image: url("Backgrund.jpeg");
  width: 100%;
  margin-top: 100px;
  min-height: 77vh;
  padding-bottom: 10px;
}
.huvudinnehål {
  background-color: #fff;
  width: 90%;
  margin-left: 3%;
  padding: 15px;
  border-radius: 15px;
  border: solid #808080;
  font-size: 16px;
}

footer {
  background-color: #99ccff;
  color: rgba(5, 5, 107, 0.742);
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  margin: 0px;
  padding: 5px;
}
#book-container {
  display: flex;
  overflow-x: auto;
}

#scroll-buttons {
  display: none;
  justify-content: center;
  margin-top: 10px;
}

#scroll-buttons button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #666;
  padding: 5px 10px;
  margin: 0 5px;
}

#book-container.scrollable {
  overflow-x: hidden;
}

#scroll-buttons.scrollable {
  display: flex;
}
.book img {
  max-width: 300px;
  height: 200px;
  margin-bottom: 10px;
  margin-right: 20px;
  transition: all 0.15s;
}
.book img:hover {
  max-width: 500px;
  height: 300px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
section {
  padding: 50px 0;
}

section h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #333;
}

section p {
  font-size: 18px;
  line-height: 1.6;
}

section p a {
  color: #333;
  font-weight: bold;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

#form-message {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

label {
  font-weight: bold;
}

input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
#gruppbild {
  max-height: 30vh;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

thead {
  background-color: #333;
  color: #fff;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.login-container {
  width: 100%;
  max-width: 400px;
  margin: auto;

  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-box {
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}
h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  line-height: 1.6;
}

@media (max-width: 820px) {
  body {
    max-width: 100%;
  }
  header {
    flex-direction: column;
    align-items: center;
  }

  header img {
    width: 10vh;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  #navbar-toggle {
    display: block;
    top: 15px;
    right: 15px;
  }

  .huvudinnehål {
    width: 100%;
    margin: 0;
    padding: 10px;
    border-radius: 0;
  }

  .book img {
    max-width: 80px;
    height: 80px;
  }

  section h2 {
    font-size: 24px;
  }

  section p {
    font-size: 16px;
  }

  form {
    padding: 10px;
  }

  .login-container {
    padding: 10px;
  }

  .login-box {
    padding: 10px;
  }

  input,
  button {
    padding: 8px;
  }
  thead {
    display: flex;
  }
  table,
  tbody td {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  tbody td::before {
    content: attr(data-label);
    font-weight: bold;
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
  }

  tbody td {
    padding: 10px;
    text-align: right;
    position: relative;
    padding-left: 50%;
  }

  tbody tr {
    margin-bottom: 15px;
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
}
